name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup tools
      run: |
            apt update -y
            apt install -y make
            apt install -y gcc-arm-none-eabi
    - name: make
      run: |
            make clean
            make -j32

