name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup tools
      run: |
        sudo apt install -y 
        sudo apt install -y gcc-arm-none-eabi
        sudo apt install -y python3
        sudo apt install -y python3-pip
        sudo pip3 install cpplint
    - name: make build
      run: |
        sudo make -j128
        sudo make cpplinter CPPLINTER_FILE=.
